<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 标准化页头 -->
    <meta charset="utf-8" /><!-- 声明文档使用的字符编码 -->
    <title>首页</title>
    <!--公共样式表-->
    <link rel="stylesheet" href="/web/common/css/bootstrap.min.css">
    <link href="/web/common/css/reset.css" rel="stylesheet">
    <link href="/web/common/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="/web/common/css/swiper.min.css">
    <!--模块样式表-->
    <link rel="stylesheet" type="text/css" href="/web/template/css/style.css">
    <!--公共js-->
    <script src="/web/common/js/jquery.min.js"></script>
    <script src="/web/common/js/bootstrap.min.js"></script>
    <!--模块js-->
    <style>
        .index{background: #c10901;position: relative;}
        .index:after{display: block;content: '';height: 2px;width: 70%;position: absolute;bottom: 0;left:0;right:0;margin: auto;background: #FFF;}
    </style>
</head>
<body>
<!--<div class="header"></div>-->
<div th:include="/web/header::copy"></div>
<!-- content -->
<div class="content">
    <!-- 图片专题-->
    <div class="picTopicBox cl">
        <div class="picTopicL fl">
            <div class="tit">图片专题</div>
            <div class="picBanner">
                <!-- Swiper -->
                <!-- swiper-no-swiping 禁止手动滑动 -->
                <div class="swiper-container swiper-container2 swiper-no-swiping">
                    <div class="swiper-wrapper PictureTopicBox"></div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination2"></div>
                </div>
            </div>
        </div>
        <div class="picTopicR fr">
            <div class="tabsBox">
                <ul class="cl tabs">
                    <li class="fl active">焦点新闻</li>
                    <li class="fl">省州新闻</li>
                    <li class="fl">扶贫动态</li>
                </ul>
            </div>
            <div class="newsBox">
                <ul class="FocusNews"></ul>
                <ul style="display: none;" class="ProvincialNews"></ul>
                <ul style="display: none;" class="helpPoorNews"></ul>
            </div>
        </div>
    </div>
    <!-- 专题推荐-->
    <div class="ThematicRecommendationBox">
        <div class="comTit">
            <span class="titName">专题推荐</span>
            <span class="fr moreCom">更多+</span>
        </div>
        <hr class="lineBr" />
        <ul class="cl itemBox">
            <li class="fl" style="background: #000"><a href="javascript:;">对口帮助</a></li>
            <li class="fl" style="background: red"><a href="javascript:;">回头看&nbsp;&nbsp;回头帮</a></li>
            <li class="fl" style="background: blue"><a href="javascript:;">培训扶贫</a></li>
            <li class="fl" style="background: yellow"><a href="javascript:;">电商扶贫</a></li>
        </ul>
        <div class="newsWrap cl">
            <div class="newsBox fl">
                <div class="title"><span>行业扶贫动态</span><span class="moreCom fr">更多+</span></div>
                <ul class="FocusNews"></ul>
            </div>
            <div class="newsBox fl" style="margin-left: 3.5%">
                <div class="title"><span>乡镇动态</span><span class="moreCom fr">更多+</span></div>
                <ul class="FocusNews"></ul>
            </div>
            <div class="newsBox fr">
                <div class="title"><span>公告公示</span><span class="moreCom fr">更多+</span></div>
                <ul class="FocusNews"></ul>
            </div>
            <div class="newsBox fl">
                <div class="title"><span>对口帮扶</span><span class="moreCom fr">更多+</span></div>
                <ul class="FocusNews"></ul>
            </div>
            <div class="newsBox fl" style="margin-left: 3.5%">
                <div class="title"><span>定点帮扶</span><span class="moreCom fr">更多+</span></div>
                <ul class="FocusNews"></ul>
            </div>
            <div class="newsBox fr">
                <div class="title"><span>东西协作</span><span class="moreCom fr">更多+</span></div>
                <ul class="FocusNews"></ul>
            </div>
        </div>
    </div>
</div>
<!-- footer-->
<div class="friendshipLinkBox"></div>
<div class="footer"></div>
<script src="/web/common/js/swiper.min.js"></script>
<script src="/web/template/js/index.js"></script>
<script src="/web/template/js/common.js"></script>
</body>
</html>
