<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 标准化页头 -->
		<meta charset="utf-8" /><!-- 声明文档使用的字符编码 -->
		<title>新闻列表</title>
		<!--公共样式表-->
		<link rel="stylesheet" href="/web/common/css/bootstrap.min.css">
		<link href="/web/common/css/reset.css" rel="stylesheet">
		<link href="/web/common/css/common.css" rel="stylesheet">
		<link rel="stylesheet" href="/web/common/css/swiper.min.css">
		<!--模块样式表-->
		<link rel="stylesheet" type="text/css" href="/web/template/css/style.css">
		<!--公共js-->
		<script src="/web/common/js/jquery.min.js"></script>
		<script src="/web/common/js/bootstrap.min.js"></script>
		<!--模块js-->
	</head>
	<body>
	<div th:include="/web/header::copy"></div>
		<ul id="news"></ul>
		<!-- footer-->
		<div class="friendshipLinkBox"></div>
		<div class="footer"></div>
		<script src="/web/common/js/swiper.min.js"></script>
		<script src="/web/template/js/common.js"></script>
		<script src="/web/template/js/newsList.js"></script>
	</body>
</html>
