<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>甘孜县脱贫攻坚信息网 | 文件管理</title>
    <link href="/framework/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/framework/font-awesome/font-awesome.css" rel="stylesheet">
    <link href="/framework/css/style.css" rel="stylesheet">
    <link href="/framework/summernote/summernote-bs4.css" rel="stylesheet">
    <link href="/framework/bootstrap/bootstrap-chosen.css" rel="stylesheet">
    <link href="/framework/icheck/custom.css" rel="stylesheet">

</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li>
                    <a href="/admin/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">控制台</span></a>
                </li>
                <li class="active">
                    <a href="/admin/organize"><i class="fa fa-university"></i> <span class="nav-label">组织机构</span></a>
                </li>
                <li>
                    <a href="/admin/category"><i class="fa fa-folder-open"></i> <span class="nav-label">网站栏目</span></a>
                </li>
                <li>
                    <a href="/admin/paper"><i class="fa fa-file-text"></i> <span class="nav-label">文件管理 </span></a>
                </li>
                <li>
                    <a href="/admin/user"><i class="fa fa-address-card"></i> <span class="nav-label">用户管理</span> </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎使用</span>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i>退出登录
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>添加文件</h5>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <label>标题</label>
                                    <input id="txtTitle" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>作者</label>
                                    <input id="txtAuthor" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>所属栏目</label>
                                    <select id="selectCategory" class="chosen-select" tabindex="2"></select>
                                </div>
                                <div class="form-group">
                                    <label>是否公开</label>
                                    <label> <input id="isPublic" type="checkbox" class="i-checks"> 公开 </label>
                                </div>
                                <div class="form-group">
                                    <label>内容</label>
                                    <div id="txtContent" class="summernote">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="btCreatePaper" type="button">创建文章</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="/framework/jquery/jquery.min.js"></script>
<script src="/framework/popper.min.js"></script>
<script src="/framework/bootstrap/bootstrap.js"></script>
<script src="/framework/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/framework/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/framework/inspinia.js"></script>
<script src="/framework/summernote/summernote-bs4.js"></script>
<script src="/framework/summernote/summernotezhcn.js"></script>
<script src="/framework/jquery/jquery.session.js"></script>
<script src="/framework/bootstrap/chosen.jquery.js"></script>
<script src="/framework/icheck/icheck.min.js"></script>


<script>
    $(document).ready(function () {
        $('.summernote').summernote({
            lang: 'zh-CN',
        });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        // 初始化栏目选择下拉框
        //  读取栏目列表
        params = {
            "categoryName": null,
            "pid": null
        }
        var categoryList
        $.ajax({
            type: "POST",
            async: false,
            url: "http://127.0.0.1:8080/api/category/listCategory",
            data: JSON.stringify(params),
            contentType: 'application/json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("token", $.session.get("token"));
            },
            success: function (response) {
                console.log(response)
                if (response.code == 0) {
                    categoryList = response.data.categoryList
                }
            }
        })
        var optionHtml = ""
        $.each(categoryList, function (i, item) {
            optionHtml += '<option value="' + item.categoryId + '">' + item.categoryName + '</option>';
        })
        console.log(optionHtml)
        $('#selectCategory').html(optionHtml);
        $('.chosen-select').chosen({width: "100%"});

        $('#btCreatePaper').click(function () {
            params = {
                title: $('#txtTitle').val(),
                author: $('#txtAuthor').val(),
                categoryId: $('#selectCategory').val(),
                content: $('#txtContent').summernote('code'),
                isPublic:$('#isPublic').value()
            }
            console.log(params)
        })
    });
</script>
</body>
</html>
