<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>甘孜县脱贫攻坚信息网 | 网站栏目</title>
    <link href="/framework/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/framework/font-awesome/font-awesome.css" rel="stylesheet">
    <link href="/framework/css/style.css" rel="stylesheet">
    <link href="/framework/bootstrap/datatables.min.css" rel="stylesheet">
    <link href="/framework/bootstrap/bootstrap-chosen.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li>
                    <a href="/admin/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">控制台</span></a>
                </li>
                <li>
                    <a href="/admin/organize"><i class="fa fa-university"></i> <span class="nav-label">组织机构</span></a>
                </li>
                <li class="active">
                    <a href="/admin/category"><i class="fa fa-folder-open"></i> <span class="nav-label">网站栏目</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label">文章管理 </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/admin/editPaper">创建文章</a></li>
                        <li><a href="/admin/approvePaper">审核文章</a></li>
                        <li><a href="/admin/pendingPaper">我发布的文章</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/user"><i class="fa fa-address-card"></i> <span class="nav-label">用户管理</span> </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span id="loginName"></span>
                        <span class="m-r-sm text-muted welcome-message">欢迎使用</span>
                    </li>
                    <li>
                        <a href="/admin/loginPage">
                            <i class="fa fa-sign-out"></i>退出登录
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>添加栏目</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="text-left">
                                <a data-toggle="modal" class="btn btn-primary" href="#modal-form">添加栏目</a>
                            </div>
                            <div id="modal-form" class="modal fade" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h3 class="m-t-none m-b">添加栏目</h3>
                                                    <p>创建一个新的网站栏目</p>
                                                    <form role="form">
                                                        <div class="form-group">
                                                            <label>栏目名称</label>
                                                            <input id="txtCategoryName" type="text"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>上级栏目</label>
                                                            <select id="categorySelect" class="chosen-select"
                                                                    tabindex="2">
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-sm btn-white float-left m-t-n-xs"
                                                                    type="button" data-dismiss="modal">
                                                                <strong>取消</strong>
                                                            </button>
                                                            <button id="btCreateCategory"
                                                                    class="btn btn-sm btn-primary float-right m-t-n-xs"
                                                                    type="button">
                                                                <strong>创建</strong>
                                                            </button>
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>网站栏目表</h5>

                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table id="categoryTable"
                                       class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>栏目名称</th>
                                        <th>上级栏目</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="modal-edit" class="modal fade" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b">编辑栏目</h3>
                            <p>编辑修改栏目</p>
                            <form role="form">
                                <div class="form-group">
                                    <label>栏目名称</label>
                                    <input id="txtEditCategoryName" type="text"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>上级栏目</label>
                                    <select id="categoryEditSelect" class="chosen-select"
                                            tabindex="2">
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-white float-left m-t-n-xs"
                                            type="button" data-dismiss="modal">
                                        <strong>取消</strong>
                                    </button>
                                    <button id="btEditCategory"
                                            class="btn btn-sm btn-primary float-right m-t-n-xs"
                                            type="button">
                                        <strong>修改</strong>
                                    </button>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-delete" class="modal fade" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>确认删除</h3>
                            <p id="deleteCategoryName"></p>
                            <button class="btn btn-sm btn-white float-left m-t-n-xs"
                                    type="button" data-dismiss="modal">
                                <strong>取消</strong>
                            </button>
                            <button id="btDeleteCategory"
                                    class="btn btn-sm btn-primary float-right m-t-n-xs"
                                    type="button">
                                <strong>删除</strong>
                            </button>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Mainly scripts -->
<script src="/framework/jquery/jquery.min.js"></script>
<script src="/framework/popper.min.js"></script>
<script src="/framework/bootstrap/bootstrap.js"></script>
<script src="/framework/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/framework/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/framework/inspinia.js"></script>
<script src="/framework/bootstrap/datatables.min.js"></script>
<script src="/framework/bootstrap/datatables.bootstrap4.min.js"></script>
<script src="/framework/jquery/jquery.session.js"></script>
<script src="/framework/bootstrap/chosen.jquery.js"></script>
<script src="/js/organize/organize.js"></script>

<script>
    $(document).ready(function () {
        var loginName = $.session.get("loginName")
        $('#loginName').html("你好，" + loginName + "！")

        // 初始化栏目选择下拉框
        //  读取栏目列表
        params = {
            "categoryName": null,
            "pid": null
        }
        var categoryList
        $.ajax({
            type: "POST",
            async: false,
            url: "http://127.0.0.1:8080/api/category/listCategory",
            data: JSON.stringify(params),
            contentType: 'application/json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("token", $.session.get("token"));
            },
            success: function (response) {
                console.log(response)
                if (response.code == 0) {
                    categoryList = response.data.categoryList
                }
            }
        })
        var optionHtml = ""
        $.each(categoryList, function (i, item) {
            optionHtml += '<option value="' + item.categoryId + '">' + item.categoryName + '</option>';
        })
        console.log(optionHtml)
        $('#categorySelect').html(optionHtml);
        $('#categoryEditSelect').html(optionHtml);

        // 读取栏目列表
        $('#categoryTable').DataTable({
            data: categoryList,
            //给table内自定义按钮
            "columnDefs": [
                {
                    // targets用于指定操作的列，从第0列开始，-1为最后一列，这里第4列
                    // return后边是我们希望在指定列填入的按钮代码
                    "targets": -1,
                    //操作列不排序
                    "bSortable": false,
                    "render": function (data, type, full) {
                        return '<button id="btEditRow" type = "button" class="btn btn-primary">编辑</button>' +
                            '&nbsp;&nbsp;<button id="btDelRow" type="button" class="btn btn-danger">删除</button>'
                    }
                }
            ],
            //给列赋值，这里的列名需要和data的数据名对应
            //注意这里第4列数据指定为null，用来存放我们加入的按钮
            "columns": [
                {
                    "data": "categoryName"
                },
                {
                    "data": "pname"
                },
                {
                    "data": null
                }
            ],
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });

        $('.chosen-select').chosen({width: "100%"});

        $('#btCreateCategory').click(function () {
            console.log($('#txtCategoryName').val())
            console.log($('#categorySelect').val())

            params = {
                categoryName: $('#txtCategoryName').val(),
                pid: $('#categorySelect').val()
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "http://127.0.0.1:8080/api/category/createCategory",
                data: JSON.stringify(params),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("token", $.session.get("token"));
                },
                success: function (response) {
                    console.log(response)
                    if (response.code == 0) {
                        location.reload()
                    } else {
                        alert("创建栏目失败：")
                    }
                }
            })
        })

        $(document).on('click', '#btEditRow', function () {
            $(this).parent('td').parent("tr").addClass('select').siblings('tr').removeClass('select')
            var table = $('#categoryTable').DataTable()
            console.log(table.row('.select').data())

            $('#txtEditCategoryName').val(table.row('.select').data().categoryName)
            $('#categoryEditSelect').val(table.row('.select').data().pid).trigger("chosen:updated")
            rowId = table.row('.select').data().categoryId
            $('#modal-edit').modal('show')
        })

        $(document).on('click', '#btDelRow', function () {
            $(this).parent('td').parent("tr").addClass('select').siblings('tr').removeClass('select')
            var table = $('#categoryTable').DataTable()
            console.log(table.row('.select').data())
            rowId = table.row('.select').data().categoryId
            rowName = table.row('.select').data().categoryName
            $('#deleteCategoryName').html(rowName)
            $('#modal-delete').modal('show')
        })

        $('#btEditCategory').click(function () {
            console.log($('#txtEditCategoryName').val())
            console.log($('#categoryEditSelect').val())

            params = {
                categoryName: $('#txtEditCategoryName').val(),
                categoryId: rowId,
                pid: $('#categoryEditSelect').val()
            }
            console.log(params)
            $.ajax({
                type: "POST",
                async: false,
                url: "http://127.0.0.1:8080/api/category/updateCategory",
                data: JSON.stringify(params),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("token", $.session.get("token"));
                },
                success: function (response) {
                    console.log(response)
                    if (response.code == 0) {
                        location.reload()
                    } else {
                        alert("修改栏目失败！")
                    }
                }
            })
        })

        $('#btDeleteCategory').click(function () {
            params = {
                categoryId: rowId
            }
            console.log(params)
            $.ajax({
                type: "POST",
                async: false,
                url: "http://127.0.0.1:8080/api/category/deleteCategory",
                data: JSON.stringify(params),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("token", $.session.get("token"));
                },
                success: function (response) {
                    console.log(response)
                    if (response.code == 0) {
                        location.reload()
                    } else {
                        alert("删除栏目失败！")
                    }
                }
            })
        })
    });

</script>
</body>
</html>
