<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lito.fupin.meta.organize.dao.OrganizeDao">
    <!--新增一个行政机构-->
    <insert id="createOrganize" parameterType="com.lito.fupin.meta.organize.entity.Organize">
        insert into organize
        (organize_id, organize_name, pid)
        values
        (#{organizeId}, #{organizeName}, #{pid})
    </insert>

    <!--配置organize表和Organize对象的字段映射 -->
    <resultMap id="organizeMap" type="com.lito.fupin.meta.organize.entity.Organize">
        <result property="organizeId" column="organize_id"/>
        <result property="organizeName" column="organize_name"/>
    </resultMap>

    <!--    根据机构名称模糊查询机构列表，支持分页-->
    <select id="listOrganize" parameterType="map"
            resultMap="organizeMap">
        select a.ids, a.organize_id, a.organize_name, a.pid,b.organize_name as pname from organize as a
        left join organize as b
        on a.pid=b.organize_id
        where 1=1
        <choose>
            <when test="name!=null">
                and a.organize_name like concat('%',#{name},'%')
            </when>
        </choose>
        order by a.pid
        limit #{offset}, #{size}
    </select>

    <select id="getOrganizeByName" parameterType="java.lang.String"
            resultMap="organizeMap">
        select * from organize
        where organize_name=#{organizeName}
    </select>

    <select id="getOrganizeById" parameterType="java.lang.String"
            resultMap="organizeMap">
        select * from organize
        where organize_id=#{organizeId}
    </select>

    <update id="updateOrganize" parameterType="com.lito.fupin.meta.organize.entity.Organize">
        update organize
        set organize_name=#{organizeName},
        <choose>
            <when test="pid!=null">
                pid=#{pid}
            </when>
        </choose>
        where organize_id = #{organizeId}
    </update>

    <delete id="deleteOrganize" parameterType="java.lang.String">
        delete from organize
        where organize_id=#{organizeId}
    </delete>

    <!--    查询指定父分类id的所有子分类-->
    <select id="listOrganizeByPid" parameterType="java.lang.String"
            resultMap="organizeMap">
        select a.ids, a.organize_id, a.organize_name, a.pid,b.organize_name as pname from organize as a
        left join organize as b
        on a.pid=b.organize_id
        where a.pid=#{pid}
    </select>
</mapper>