<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lito.fupin.meta.paper.dao.PaperDao">

    <insert id="createPaper" parameterType="com.lito.fupin.meta.paper.entity.Paper">
        insert into paper
        (paper_id, title, content, upload_time, upload_user_id, category_id, public, img_url, file_url, author, organize_id)
        values
        (#{paperId}, #{title}, #{content}, #{uploadTime}, #{uploadUserId}, #{categoryId}, #{isPublic}, #{imgUrl}, #{fileUrl}, #{author}, #{organizeId})
    </insert>

    <!--配置paper表和Paper对象的字段映射 -->
    <resultMap id="paperMap" type="com.lito.fupin.meta.paper.entity.Paper">
        <result property="paperId" column="paper_id"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="uploadUserId" column="upload_user_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="isPublic" column="is_public"/>
        <result property="imgUrl" column="img_url"/>
        <result property="fileUrl" column="file_url"/>
        <result property="imgUrl" column="img_url"/>
        <result property="organizeId" column="organize_id"/>
    </resultMap>

    <!-- 读取一个机构下的所有未审核文章-->
    <select id="listPaperUnApprove" parameterType="map"
            resultMap="paperMap">
        select ids, paper_id, title, upload_time, upload_user_id, public, author from paper
        where organize_id=#{organizeId}
        and approve_time is null
    </select>

</mapper>